
body {
  margin: 0px;
  background: rgb(232, 232, 232);
  
}
.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.App-header {
  background-color: #1c283e;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  font-family: 'Montserrat', sans-serif;
  color: #61dafb;
}

.App-header h1 {
  color: whitesmoke;
}

.App-link {
  color: #61dafb;
}
input {
  border: none;
  border-radius: 4px;
  font-size: 26px;
  color:#141e30;
  margin-top: 25px;
  padding: 10px 25px;
}
input::placeholder {
  color: #3a4b6a;
}

table {
  width: 100%;
}
th {
  text-align: left;
  padding: 10px;
}
td {
  text-align: left;
}
td:nth-child(2) {
  font-weight: bold;
  text-align: left;
}
td:nth-child(4){

  text-align: left;
}
td {
  padding: 10px;
}
td {
  border-bottom: 2px solid white;
}
tr {
  opacity: .9;
  transition: opacity .2s ease-in-out;
}
tr:hover {opacity: 1;}
